* {
  font-family: "Montserrat", sans-serif !important;
}

.technology {
  background: url(assets/technology/background-technology-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  position: relative;
}

.slider {
  width: 100vw;
  height: 100vh;
  padding: 11rem 5rem;
}

.slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.technology-header {
  font-size: 2rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.technology-header span {
  font-weight: 200 !important;
  font-size: 2.5rem;
}

.technology-header h1 {
  font-weight: 200;
}

.selections-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 11rem;
}

.selections-buttons {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  color: #adb5bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
  /* color: #dee2e6; */
  background-color: #212529;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 1.2px solid #6c757d;
  box-shadow: 0 0 0 0.1px #000;
}

.technology-text {
  margin-bottom: 2rem;
}

.technology-text h3 {
  padding-bottom: 0.4rem;
  font-size: 1.9rem;
  font-weight: 400;
  /* color: #adb5bd; */
  color: #7d8597;
}
.technology-text h1 {
  padding-bottom: 1.8rem;
  font-size: 3.45rem;
  font-weight: 400;
  color: #ced4da;
}

.technology-text p {
  font-size: 1.08rem;
  line-height: 1.7;
  font-weight: 200;
}

.technology-image {
}

.technology-image img {
  height: 35rem;
  position: absolute;
  bottom: 2.5%;
  right: 0.1%;
  border-radius: 6px;
}

.active {
  background-color: #ced4da;
  color: #212529;
}
